In [1]:
import pandas as pd

In [3]:
import os
print(os.getcwd())

C:\Users\user\Desktop\Python\pandas

In [4]:
df = pd.read_csv('data1.csv')

In [6]:
df

,User Name,First Name,Last Name,Display Name,Job Title,Department,Office Number,Office Phone,Mobile Phone,Fax,Address,City,State or Province,ZIP or Postal Code,Country or Region
0,chris@contoso.com,Chris,Green,Chris Green,IT Manager,Information Technology,123451,123-555-1211,123-555-6641,123-555-9821,1 Microsoft way,Redmond,Wa,98052,United States
1,ben@contoso.com,Ben,Andrews,Ben Andrews,IT Manager,Information Technology,123452,123-555-1212,123-555-6642,123-555-9822,1 Microsoft way,Redmond,Wa,98052,United States
2,david@contoso.com,David,Longmuir,David Longmuir,IT Manager,Information Technology,123453,123-555-1213,123-555-6643,123-555-9823,1 Microsoft way,Redmond,Wa,98052,United States
3,cynthia@contoso.com,Cynthia,Carey,Cynthia Carey,IT Manager,Information Technology,123454,123-555-1214,123-555-6644,123-555-9824,1 Microsoft way,Redmond,Wa,98052,United States
4,melissa@contoso.com,Melissa,MacBeth,Melissa MacBeth,IT Manager,Information Technology,123455,123-555-1215,123-555-6645,123-555-9825,1 Microsoft way,Redmond,Wa,98052,United States

In [7]:
df.shape

(5, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User Name           5 non-null      object
 1   First Name          5 non-null      object
 2   Last Name           5 non-null      object
 3   Display Name        5 non-null      object
 4   Job Title           5 non-null      object
 5   Department          5 non-null      object
 6   Office Number       5 non-null      int64
 7   Office Phone        5 non-null      object
 8   Mobile Phone        5 non-null      object
 9   Fax                 5 non-null      object
 10  Address             5 non-null      object
 11  City                5 non-null      object
 12  State or Province   5 non-null      object
 13  ZIP or Postal Code  5 non-null      int64
 14  Country or Region   5 non-null      object
dtypes: int64(2), object(13)
memory usage: 728.0+ bytes